/* App.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}


.home {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    height: 100vh;

}

.container {
  width: 50%;
  margin: 1rem;
}

.prompt-container {
  margin-bottom: 20px;
  max-width: 100%;
}

.prompt-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.prompt-textarea {
  max-width: 100%;
  font-size: 1em;
}

.duration-container {
  margin-bottom: 20px;
  width: 100%;
}

.duration-label {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.duration-input {
  width: 50px;
  padding: 5px;
  font-size: 1em;
}

/* AudioFile.css */

.audiocontainer {
  margin-top: 20px;
  width: 100%;
}

.recording-duration {
  margin-bottom: 10px;
  font-size: 1.2em;
}

button {
  margin-right: 10px;
  padding: 10px;
  font-size: 1em;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
